/* SHOWCASE */
#showcase {
    background-image: url("../images/images/showcase.jpg");
    height: 500px;
    background-position: center center;
    background-size: cover;
    position: relative;
}
/* #showcase #particles-js {
    position: absolute;
    z-index: 10;
} */
#showcase .showcase-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#showcase .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#showcase .search-container {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    /* padding: 30px 50px 50px 50px; */
}
#showcase .search-container h3 {
    color: teal;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: hanuman;
    font-size: 22px;
    border-bottom: 1px solid teal;
    text-decoration: underline;
}
#showcase .search-container form {
    padding: 20px 30px 40px 30px;
    text-align: center;
}


/* CONTENT */
#content {
    padding: 30px 0;
}
 #content .event-block h2{
    font-family: hanuman;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 0;
    color: teal;
    text-align: center;
    border-bottom: 2px solid teal;
    margin-bottom: 25px;;
}
#content .event-block cards {
    display: flex;
    justify-content: space-between;
}
#content .event-block .card {
    width: 23.7% !important;
}
@media only screen and (max-width: 1200px) {
    #content .event-block .card {
        width: 31.6% !important;
    }
}
@media only screen and (max-width: 991px) {
    #content .event-block .card {
        width: 31.3% !important;
    }
}
@media only screen and (max-width: 768px) {
    #content .event-block .card {
        width: 47.4% !important;
    }
}
@media only screen and (max-width: 497px) {
    #content .event-block .card {
        width: 80% !important;
        margin: auto;
        margin-bottom: 20px;
    }
}



