* {
    padding: 0;
    margin: 0;
}

#header {
    /* background: teal; */
    padding: 6px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
    z-index: 9;
}
#header .container {
    display: flex;
    align-items: center;
}
#header #logo {
    flex: 2;
    display: flex;
    align-items: center;
}
#header #logo img {
    height: 50px;
    background-color: #fff;
}
#header #menu {
    flex: 4;
    display: flex;
    justify-content: flex-end;
}
#header #menu ul {
    display: flex;
    align-items: center;
}
#header #menu ul li {
    list-style-type: none;

}
#header #menu ul li a {
    color: teal;
    font-family: battambang;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 25px;
}
#header #menu ul li a:last-child {
    padding-right: 0;
}
#header #toggle-menu {
    display: none;
}
#header #toggle-menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    cursor: pointer;
}
#header #toggle-menu i {
    font-size: 20px;
    color: #666;
}
@media only screen and (max-width: 768px) {
    #header #menu {
        display: none;
    }
    #header #logo img {
        height: 40px;
    }
    #header #toggle-menu {
        display: block;
    }
}

/* SIDEBAR BLOCK */
#sidebar {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}
#sidebar .sidebar-wrapper {
    width: 210px;
    height: 100%;
    background-color: #fff;
}
#sidebar a.item {
    font-family: battambang;
    font-size: 16px;
    font-weight: bold;
    color: teal;
}

/* Footer block */
#footer {
    background-color: #eee;
    margin-top: 10px;
    position: relative;
    padding-top: 30px;
}
#footer .container {
    margin-bottom: 20px;
}
#footer #footer-left, #footer #footer-center {
    font-family: hanuman;
    line-height: 2;
}
#footer #footer-left h3, #footer #footer-center h3 {
    color: teal;
    font-weight: bold;
    text-decoration: underline;
    font-family: hanuman;
}
#footer ul li {
    list-style-type: none;
}
#footer ul li a {
 
}
#footer #footer-right {
    text-align: center;
    font-family: hanuman;
    color: #666;
    line-height: 2;
}

#footer #footer-bottom {
    bottom: 0;
    background-color: #ccc;
    width: 100%;
    height: 40px;
    color: #666;
    font-family: hanuman;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    #footer #footer-left, #footer #footer-center {
        text-align: center;
        border-bottom: 2px solid #ddd;
    }
}