* {
    box-sizing: border-box;
}
#header {
    height: 60px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}
#header .logo {
    width: 230px;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: #fff;
}
#header .logo img {
    height: 40px;
}
#header #header-right {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #fff;

}
#header #header-right #toggle span {
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 3px;
    width: 100px;
    border: 1px solid #ddd;
    cursor: pointer;
}
#header #header-right #profile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#header #header-right #profile .item {
    font-size: 18px;
    margin-right: 15px;
}
#header #header-right #profile .item i {
    font-size: 20px;
    color: #999;
}
#header #header-right #profile .profile-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#content {
    display: flex;
    margin-top: 60px;

}
#content #sidebar {
    width: 230px;
    overflow: hidden;
    transition: width .5s;
    border-right: 1px solid #ddd;
}
#content .sidebar-menu {
    transition: width .5s;
    position: fixed;
    width: 230px;
    height: 100%;
    overflow: hidden;
    border-right: 1.3px solid #ddd;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1)

}
#content .sidebar-menu > ul {
    margin: 0;
    padding: 0;
}
#content .sidebar-menu > ul li {
    list-style-type: none;
    width: 230px;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
    padding-right: 10px;
    padding-left: 15px;
    cursor: pointer;
}
#content .sidebar-menu > ul li .caret {
    color: teal;
    float: right;
    transition: transform .4s;
}

#content .sidebar-menu > ul li a{
    color: teal;
    font-size: 17px;
    font-family: hanuman;
    font-weight: bold;
}
#content .sub-menu {
    margin: 0;
    padding: 0;
    display: none;
}
#content .sub-menu li {
    padding: 10px 0 !important;
    padding-left: 7px !important;
}
#content .sub-menu li:first-child{
    border-top: 1px solid #ddd;
    margin-top: 13px;
}
#content .sub-menu li:last-child{
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

#content .sub-menu li a {
    font-weight: normal !important;
    padding: 10px;
    font-size: 16px !important;
    color: rgb(5, 82, 24) !important;
}
#content #main {
    flex: 1;
    padding: 13px 15px;
}


/* MAIN  */
#main .heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#main .dash-info .ui.card {
    height: 130px;
}
#main .dash-info .ui.card .header {
    color: #fff;
    font-family: hanuman;
    font-size: 20px;
    text-align: center;
    box-shadow: none;
    border: 0 !important;
}
#main .dash-info .ui.card h3 {
    text-align: center;
    color: #fff;
}