.hanuman{
    font-family: hanuman !important;
}
.center{
    text-align: center ;
}
.cteal{
    color: #008080 !important;
    font-size: 1.2rem !important;
}
div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
  }

div [class*="right floated"] {
float: right;
    margin-right: 0.25em;
} 